.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  white-space: pre
}

.App code {
  margin: 2em;
  margin-top: 0;
  padding: 0;
  text-align: left;
  font-size: 2em;
}

h3 {
  font-size: 2.5em;
  margin: 1em;
  padding: 0;
  border: 0
}

button {
  font-size: 1em;
  font-family: "Courier New", monospace;
  border: 2px solid #000;
  padding: 10px 25px;
}

button:hover {
  background-color: rgb(255, 235, 59);
}

button:active {
  background-color: rgb(255, 244, 142);
}

form {
  display: flex;
  flex-direction: column;
  font-family: "Courier New", monospace;
}

input {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid grey
}
